html,
body {
  height: 100%;
  width: 100%;
}
.main {
  text-align: center;
  font-size: 30px;
  position: absolute;
  left: 500px;
}
.main {
  color: black;
  position: absolute;
  top: 30%;
  left: 40%;
}
.nav {
  float: right;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  border: 0;
  position: absolute;
  right: 10px;
}
